.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transform: scale(1.02);
    transition: opacity 0.35s ease, transform 0.35s ease;
    backdrop-filter: blur(0.25rem);
}

.overlay-content{
    border: 0.25vh solid #4c0e5f;
    background-color: #ececec;
    border-radius: 2.25vh;
    padding: 2%;
    text-align: center;
    box-shadow: 0 0.2vh 0.4vh rgba(0, 0, 0, 0.2);
    transform: scale(0.95);
    opacity: 0;
    transition: transform 0.35s ease, opacity 0.35s ease;

}

.overlay-content h2{
    margin-top: 0;
    color: #4c0e5f;
    font-size: 5vh;
}

.overlay-content button{
    font-size: 3.5vh;
    padding: 2% 2%;
    border-radius: 1.75vh;
    font-weight: bolder;
    border: 0.2vh solid #4c0e5f;
    background-color: #4c0e5f;
    color: white;
}

.overlay-content input{
    max-width: 60%;
    border: 0.2vh solid #4c0e5f;
    font-size: 3.5vh;
    padding: 2% 2%;
    border-radius: 1.75vh;
    color: black
}

.overlay.show {
    opacity: 1;
    pointer-events: all;
    transform: scale(1);
}

.overlay.show .overlay-content {
    transform: scale(1);
    opacity: 1;
}

.overlay-content button:hover {
    background-color: #712c83;
    border: 0.2vh solid #712c83;
}

.error-message {
    margin-top: 1rem;
    color: #d10000;
    font-weight: bold;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.4s ease, transform 0.4s ease;
    font-size: 2.5vh;
}

.error-message.fade-out {
    opacity: 0;
    transform: translateY(-10px);
}